apiVersion: v1
kind: Service
metadata:
  name: postgresql
  namespace: piehr
  labels:
    app: postgresql
    component: database
spec:
  type: ClusterIP
  selector:
    app: postgresql
  ports:
  - name: postgres
    port: 5432
    targetPort: postgres
    protocol: TCP
  clusterIP: None

