apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: redis-data
  namespace: piehr
spec:
  accessModes:
  - ReadWriteOnce
  storageClassName: ssd
  resources:
    requests:
      storage: 50Gi

