apiVersion: 1

datasources:
  - name: Tempo
    type: tempo
    access: proxy
    url: http://tempo:3200
    isDefault: false
    editable: true
    jsonData:
      httpMethod: "GET"
      tracesToLogs:
        datasourceUid: "loki"
        tags: ["job", "instance", "pod", "namespace"]
        mappedTags: [
          { key: "service.name", value: "service" },
          { key: "job" }
        ]
        mapTagNamesEnabled: false
        spanStartTimeShift: "1h"
        spanEndTimeShift: "1h"
        filterByTraceID: false
        filterBySpanID: false
      tracesToMetrics:
        datasourceUid: "prometheus"
        tags: [
          { key: "service.name", value: "service" },
          { key: "job" }
        ]
        queries: [
          {
            name: "Sample query",
            query: "sum(rate(tempo_spanmetrics_latency_bucket{$$__tags}[5m]))"
          }
        ]
      nodeGraph:
        enabled: true
      search:
        hide: false
      serviceMap:
        datasourceUid: "prometheus"

