apiVersion: v1
kind: Service
metadata:
  name: web
  namespace: piehr
  labels:
    app: web
    component: frontend
spec:
  type: ClusterIP
  selector:
    app: web
  ports:
  - name: http
    port: 80
    targetPort: http
    protocol: TCP

